<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            header {
                background: #eee;
                border-bottom: 1px solid #ccc;
                padding: 20px;
                color: #666;
    
                img {
                    vertical-align: bottom;
                    margin-right: 20px;
                }
            }
    
            section {
                color: #666;
                padding: 20px;
            }
        </style>
    </head>
    
<body>
{% if session['username'] %}
<header>
    <img src="">
    Welcome to our music store, {{session['username']}} 
    <a href="{{url_for('logout')}}">Log out!</a>
</header>
{% else %}
<header>
    <img src="">
    Welcome to our music store, please <a href="{{url_for('login')}}">Log in!</a>
</header>
{% endif %}
<header>

{% if session['role'] == 'admin'%}
    <a href="/">Go to root</a> <a href="/instruments/show/all">Go to Admin DB</a>
{% elif session['role'] == 'buyer' %}
    <a href="/">Go to root</a>  <a href="/cart/show/all">Go to cart</a>
{% else %}
    <a href="/">Go to root</a>
{% endif %}
    
</header>

{% block body %}{% endblock %}

</body>
</html>
