{% extends 'base.html' %}
{% block body %}

    <section>
        {% if cart %}
            These are the reference numbers of your products
            <ul>
            <!-- Show the list of instruments. -->
            {% for item in cart %}
                <li><img src={{item["url"]}} width="50"/>{{item["name"]}} Qty:{{item["count"]}}</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>Your cart is empty!</p>
        {% endif %}
    </section>
</body>
{% endblock %}