{% extends 'base.html' %}
{% block body %}

    <section>
        {% if instrument %}
        <form method="POST">
            <h1>Are you sure to delete? go back to cancel</h1>
            <h5>{{instrument["name"]}}</h5>
            <input type="hidden" id="ref_num" name="ref_num" value="{{instrument['ref_num']}}">
            <input type="hidden" id="cat" name="cat" value="{{instrument['category']}}">
            <input type="hidden" id="name" name="name" value="{{instrument['name']}}">
            <input type="hidden" id="url" name="url" value="{{instrument['url']}}">
            <input type="submit" value="Yes">
        </form>
        {% endif %}
        {% if res %}
            <p>{{res}}</p>
        {% endif %}
    </section>

</body>
{% endblock %}