{% extends 'base.html' %}
{% block body %}

    {% if instrument %}
    <section>
        <h1>This an amazing {{instrument["name"]}}</h1>
        <h3> Category: {{instrument["category"]}}</h3>
        {% if instrument["songs"] %}
            <h3> You can play <a href="{{instrument["songURL"]}}"> {{instrument["songs"]}} by {{instrument["artist"]}} </a> with it!</h3>
        {% endif %}
        <img src="{{instrument['url']}}" />
    </section>
    {% endif %}
    <section>
    {% if comments %}
        <ul>
            {% for comment in comments %}
            <li>Comment by {{comment["username"]}} ({{comment["datetime"]}})<br>
                {{comment["contents"]}}<br><br>
            {% endfor %}
            </ul>
    {% else %}
        Not comment yet.<br>
        Please be the first to review it!<br>
    {% endif %}
    <br>
    <a href="/instruments/comment/{{instrument['ref_num']}}">Write your own comment about it</a>
    <br>
    </section>
</body>
{% endblock %}