{% extends 'base.html' %}
{% block body %}

    <section>
        <h1>This is a list of the instruments in the DB:</h1>
        <a href="/instruments/create">To add an instrument</a> <br>
        <h3>Result</h3>
        {% if instruments %}
            <ul>
            {% for instrument in instruments %}
            <li>[<a href="/instruments/show/{{instrument['ref_num']}}">Detail</a>|
                <a href="/instruments/analysis/{{instrument['ref_num']}}">Comments</a>|
                <a href="/instruments/update/{{instrument['ref_num']}}">Update</a>|
                <a href="/instruments/delete/{{instrument['ref_num']}}">Delete</a>]  {{instrument["name"]}}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </section>

</body>
{% endblock %}